.container {
    padding-top: 2%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
}

.title {
    padding: 1%;
    font-size: 30px;
}

.form {
    width: 50%;
    margin: 2% 0;
}

.label {
    color: brown;
    padding: 1% 0;
}

.form_input {
    border-bottom: 1px solid brown;
    padding: 1% 0;
}

.form input {
    border: none;
    width: 100%;
}

.form input::placeholder,
.form textarea::placeholder {
    color: brown;

}

.form textarea {
    border: none;
    width: 100%;
    height: 100px;
}



.form button {
    margin: 1% 0;
    width: 100%;
    border: none;
    padding: 1% 0;
    color: white;
    background-color: brown;
}

.form button:hover {
    background-color: rgba(165, 42, 42, 0.8);
}