.container {
    width: 100%;
    padding-top: 3%;
}

.title {
    font-family: 'Roboto', sans-serif;
    padding-bottom: 3%;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}

.offers {
    width: 100%;
    display: flex;
    flex-direction: row;
}