.container {
    padding: 5% 25%;
    background-color: #f4f1e4;
    width: 100%;
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    justify-content: center;


}


.title {
    font-size: 40px;
    color: brown;
}

.subtitle {
    text-align: left;
    font-size: 50px;
    font-weight: 900;
    padding: 5% 0;
}

.description {
    padding: 3% 0;
    text-align: left;
    font-size: 20px;
    font-weight: normal;
}